{% set local = app.request.getHost() == app.session.get('instance_host') %}
{% import _self as local_macro %}


{% macro admin_menu(instance) %}
    <li class="nav-item mega-menu">
        <a href="{{ url('administration') }}" class="nav-link">
            <i class="ti-palette menu-icon"></i>
            <span class="menu-title">{{ 'Administration' | trans }}
                {% if count_users(instance)['pending'] > 0 %}
                    <span class="label label-danger">{{ count_users(instance)['pending'] }}</span>
                {% endif %}
            <span class="caret"></span></span>
            <i class="menu-arrow"></i>
        </a>


        <div class="submenu">
            <div class="col-group-wrapper row">
                <div class="col-group col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="category-heading">{{ 'Elements' | trans }}</p>
                            <div class="submenu-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="dropdown-header">{{ 'Elements' | trans }}</li>
                                            <li class="nav-item"><a href="{{ path('admin_catalog') }}">{{ 'Catalogs' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_journal') }}">{{ 'Journals' | trans }}</a></li>
                                            <li class="nav-item">
                                                <a href="{% if count_users(instance)['pending'] > 0 %}{{ path('admin_user', { 'state[]': 'pending' }) }}{% else %}{{ path('admin_user') }}{% endif %}">
                                                    {{ 'Users' | trans }}
                                                    {% if count_users(instance)['pending'] > 0 %}
                                                        <span class="label label-danger">{{ count_users(instance)['pending'] }}</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                            <li class="nav-item"><a href="{{ path('admin_contact') }}">{{ 'Contacts' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_country') }}">{{ 'Countries' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_city') }}">{{ 'Cities' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_institution') }}">{{ 'Institutions' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_file_download') }}">{{ 'File Downloads' | trans }}</a></li>
                                            <li class="nav-item"><a href="{{ path('admin_maillist') }}">{{ 'Mail List' | trans }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="nav-item">
                                                <a href="{{ path('admin_news') }}">
                                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                                    {{ 'News' | trans }}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{ path('admin_instance_configure') }}">
                                                    <span class="glyphicon glyphicon-wrench"></span>
                                                    {{ 'Configuration' | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </li>
{% endmacro %}

<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand" href="{{ path('directory_homepage') }}">Celsius3</a>
                <a class="navbar-brand"  href="{{ path('public_index') }}"><i class="ti-home menu-icon"> </i> <span class="menu-title">{{ 'Home' | trans }}</span></a>

                {#
                <a class="navbar-brand brand-logo" href="index.html"><img src="../../images/logo-white.svg" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../images/logo-mini.svg" alt="logo"/></a>#}
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                {% if app.user %}
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                    <span class="input-group-text" id="search">
                      <i class="ti-search"></i>
                    </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                {% endif %}
                <ul class="navbar-nav navbar-nav-right">
                    {% block instance_panels %}
                        {% include 'Celsius3CoreBundle:Layout:_instances_panel.html.twig' %}
                        {% include 'Celsius3NotificationBundle:Layout:_notification_panel.html.twig' %}
                        {% include 'Celsius3MessageBundle:Layout:_message_panel.html.twig' %}
                    {% endblock %}

                    {% include 'Celsius3CoreBundle:Layout:_activity.html.twig' %}

                    {% include 'Celsius3CoreBundle:Layout:_lang_panel.html.twig' %}


                    {% include 'Celsius3CoreBundle:Layout:_user_panel.html.twig' %}

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                    <span class="ti-menu"></span>
                </button>
            </div>
        </div>
    </nav>
    {% if app.user %}
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('public_index') }}"><i class="ti-home menu-icon"> </i> <span class="menu-title">{{ 'Home' | trans }}</span></a>
                </li>

                {% if (is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_USER')) and local) or (is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_SUPER_ADMIN')) and not local) %}
                    <li  class="nav-item"><a class="nav-link" href="{{ path('user_index') }}">
                            <i class="ti-palette menu-icon"></i>
                            <span class="menu-title">{{ 'My Site' | trans }}</span></a></li>
                {% endif %}
                {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_ADMIN')) or is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_SUPER_ADMIN')) and not local %}
                    {{ local_macro.admin_menu(instance) }}
                {% endif %}

                {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_USER')) and not local %}
                    <li  class="nav-item" ><a class="nav-link" href="{{ 'http://' ~ app.session.get('instance_host') }}">{{ 'My Instance' | trans }}</a></li>
                {% endif %}

                {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_STATISTICS')) %}
                    <li  class="nav-item" ><a class="nav-link" href="{{ path('superadmin_statistics') }}">{{ 'Statistics Administration' | trans }}</a></li>
                {% endif %}

                {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_TECHNICAL')) %}
                    <li  class="nav-item"><a class="nav-link" href="{{ path('tichnical_index') }}">{{ 'Administration Technical' | trans }}</a></li>
                {% endif %}

                {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_TICKET')) %}
                    <li  class="nav-item"><a class="nav-link" href="{{ path('ticket_index') }}">{{ 'Sistema de Ticket' | trans }}</a></li>
                {% endif %}

                    {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_SUPER_ADMIN')) %}
                        <li class="nav-item">

                        <a class="nav-link" href="{{ path('superadministration') }}">
                            <i class="ti-settings menu-icon"></i>{{ 'Network Administration' | trans }}
                        {% set pending_dr = pending_data_requests(app.user) %}
                            {% if pending_dr > 0 %}
                            <span class="label label-danger">{{  pending_dr }}</span>
                        {% endif %}

                    </a>
                         </li>
                {% endif %}


                <li class="nav-item mega-menu">
                    <a href="#" class="nav-link">
                        <i class="ti-palette menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <div class="col-group-wrapper row">
                            <div class="col-group col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="category-heading">Basic Elements</p>
                                        <div class="submenu-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/accordions.html">Accordion</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/badges.html">Badges</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdown</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/modals.html">Modals</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/progress.html">Progress bar</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/pagination.html">Pagination</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/tabs.html">Tabs</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/tooltips.html">Tooltip</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="category-heading">Advanced Elements</p>
                                        <div class="submenu-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/dragula.html">Dragula</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/carousel.html">Carousel</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/clipboard.html">Clipboard</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/context-menu.html">Context Menu</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/loaders.html">Loader</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/slider.html">Slider</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/popups.html">Popup</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/ui-features/notifications.html">Notification</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group col-md-4">
                                <p class="category-heading">Icons</p>
                                <ul class="submenu-item">
                                    <li class="nav-item"><a class="nav-link" href="pages/icons/flag-icons.html">Flag Icons</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/icons/simple-line-icon.html">Simple Line Icons</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/icons/themify.html">Themify Icons</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </nav>
    {% endif %}
</div>

