{% if app.session.get('admin_instance') is not empty %}
    {{ app.user.addSecondaryInstance(app.session.get('admin_instance'), ['ROLE_ADMIN']) }}
    {{ app.session.set('temp_instance', app.session.get('admin_instance')) }}
{% elseif app.session.get('temp_instance') is not empty %}
    {{ app.user.removeSecondaryInstance(app.session.get('temp_instance')) }}
    {{ app.session.remove('temp_instance') }}
{% endif %}

{% set secondaryInstances = app.user ? app.user.getSecondaryInstances() : null %}

{% if secondaryInstances is not empty %}

    <li class="nav-item nav-profile dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown" href="#">
            {{ app.session.get('instance_url') | upper }}
            <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            {% if app.session.get('instance_id') != app.user.getInstance().getId() %}
                <a  class="dropdown-item" href="{{ path('user_change_context', {'id':app.user.getInstance().getId()}) }}">{{ app.user.getInstance().getUrl() | upper }}</a>
            {% endif %}
            {% for id,roles in secondaryInstances %}
                {% if app.session.get('instance_id') != id %}
                        <a class="dropdown-item" href="{{ path('user_change_context', {'id':id}) }}">{{ get_instance_url(id) | upper }}</a>

                {% endif %}
            {% endfor %}
         </div>
    </li>
{% endif %}
