<li class="nav-item nav-profile dropdown">
    <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
        <img src="https://via.placeholder.com/40x40" alt="profile"/>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
        {% if app.user %}
                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                    <i class="ti-settings text-primary"></i>
                    {{ 'Profile' | trans }}
                </a>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                   <a href="{{ path('switch_user', {_switch_user: '_exit'}) }}"> <span class="glyphicon glyphicon-off"></span> {{ 'Logout'|trans }}</a>
                {% else %}
                     <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                            <i class="ti-power-off text-primary"></i>
                         {{ 'Logout'|trans }}
                        </a>
                {% endif %}
        {% else %}
             <a class="dropdown-item" href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-user"></span> {{ 'Login'|trans }}</a>
             <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-plus"></span> {{ 'Register'|trans }}</a>
        {% endif %}


    </div>
</li>
